<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %> 

<body class="bg-[url('/img/bg.png')] relative bg-repeat">
    <header class="fixed z-50 w-full flex justify-center align-items text-2xl md:text-3xl p-2 md:p-5 mb-2 mr-0 backdrop-blur-md bg-white/40 "> 
        All Resources
     </header>

    <div class="flex z-0">
        <%- include("./partials/nav.ejs") %>

        <div id="body" class="relative z-10 grow flex flex-col gap-4 md:gap-10 p-6 md:p-8 mr-8 mt-20 z-0 backdrop-blur-md bg-white/40 rounded-lg">
            <% for ( let i = 0; i < resources.length; i++ ) { %>
                <div class="bg-pink-100 p-4 rounded-lg">
                    <h3 class="text-center underline underline-offset-4 text-xl"> <%= resources[i].title %>  </h3>
                    <br>
                    <p> From: <span class="text-center"> <%= resources[i].from %> </span> </p>
                    <br>
                    <p class="bg-gradient-to-r from-pink-300 to-purple-300 p-4 rounded-md"><%= resources[i].about %></p>
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>